.navbar{
    background-color:rgb(255, 255, 255);
    
}

.quem-somos{
    background-color: rgb(37, 37, 37);
    padding: 20px;
    color: white;
}

.parceiros{
    background-color:black;
    padding: 20px;
    color: white;
}

.servicos{
    background-color:rgb(37, 37, 37);
    padding: 20px;
    color: white;
}

.topicos{
    margin-bottom: 20px;
}

.bg-footer{
    background-color: black;
    color: white;
}